/* #Jan12{
  background-color: #CC2431;
} */
html, body
{
    height: 100%;
    width: 100%;
}
#userPage{
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: linear-gradient(#E55D87, #5FC3E4);
}

html{
  background-color: white;
}

#daypage{
text-align: center;
font-family: 'American Typewriter', serif;
font-size: 18px;

}

#colorKey{
  align: center;
  background-color: white;
  width: 200px;
  height: 200px

}

.viewDayList{
  text-align: center;
  width: 100%;
  height: 5%;
  background: white;
  border-radius: 10px;
  background-image: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);


}

.logout {
  float: center;
}



.center{
  text-align: center;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;

  background-image: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);


}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
  font-style: oblique;
}

h1{
  font-family: arial;
  color: black;
}

td{
  font-family: arial;
  padding: 10px;
}


#headl{
  text-align: center;
  height: 50px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  border-radius: 40px;
}

#linkMoodMap{
  float: center;
  border-radius: 10px;
  background: pink;
}

#moodKey{
  width: 97%;
  height: 97%;
}

.logout {
  float: right;
  padding: 15px
}
