/* #Jan12{
  background-color: #CC2431;
} */
html
{
    height: 100%;
    width: 100%;
    background-image: url(contemporary_china.jpg);
    background-repeat: repeat;
}

/*
#userPage{
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: white;
} */


.inputBox{
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#daypage{
text-align: center;
font-family: helvetica;
font-size: 18px;

}

#allText{
  font-size: 30px;
  color: black;
}

#title{
  text-align: center;
  font-family: helvetica;
  font-size: 50px;
}



#linkToMap{
  text-align: center;
}

#colorKey{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 200px;
  height: 200px

}

.viewDayList{
  text-align: center;
  width: 100%;
  height: 5%;
  background: white;
  border-radius: 10px;
  /* background-image: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4); */


}

.logout {
  float: center;
}



.center{
  color: black;
  text-align: center;
  width: 50px;
  height: 100%;
  background: #9F9FA1;
  border-radius: 10px;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
  font-style: oblique;
}

p,a,li{
  font-family: helvetica;
  color: black;
}

table{
  table-layout: fixed;
}

td{
  font-family: helvetica;
  border-radius: 30%;
  width: 3%;
  font-weight: bold;
}

.date{
    padding: 10px;
}

#mainTitle{
    background-image: url(header4.png);
    align-items: center;
    padding-top: 20px;
    height: 60px;
}
.headl{
  color: black;
  font-family: georgia;
  text-align: center;
  /*

  background: -webkit-linear-gradient(left, #CC2431 , #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1);
  background: -o-linear-gradient(right, #CC2431, #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1);
  background: -moz-linear-gradient(right, #CC2431, #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1);
  background: linear-gradient(to right, #CC2431 , #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1);

  */
  /* border-radius: 10%; */
}

#linkMoodMap{
  float: center;
  border-radius: 10px;
  background: #9F9FA1;
}

#moodKey{
  width: 97%;
  height: 97%;
}

.logout {
  float: right;
  padding: 15px
}

.songs{
  text-align: center;
  text-decoration: none;
}

.goBack{
  text-align: center;
}

#resultImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
}

textarea{
  background-color:#88B24B;
  font-size:15px;
}

select{
  background-color: #88B24B;
}

ul{
font-size: 20
}

ul {
    background: DodgerBlue;
    padding: 20px;
}


ul li {
    background: white;
    margin: 5px;
}

ul{
  list-style-type: none;
}
