/* #Jan12{
  background-color: #CC2431;
} */
html, body
{
    height: 100%;
    width: 100%;
}

#userPage{
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: white;
}


html{
  background-color: white;
}

#daypage{
text-align: center;
font-family: arial;
font-size: 18px;

}

#allText{
  font-size: 30px;
  color: black;
}

#title{
  text-align: center;
  font-family: arial;
  font-size: 50px;
}



#linkToMap{
  text-align: center;
}

#colorKey{
  align: center;
  background-color: white;
  width: 200px;
  height: 200px

}

.viewDayList{
  text-align: center;
  width: 100%;
  height: 5%;
  background: white;
  border-radius: 10px;
  /* background-image: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4); */


}

.logout {
  float: center;
}



.center{
  text-align: center;
  width: 50px;
  height: 100%;
  background: #9F9FA1;
  border-radius: 10px;


}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
  font-style: oblique;
}

h1,p,a,li{
  font-family: arial;
  color: black;
}

td{
  font-family: arial;
  border-radius: 30%;
}

.date{
    padding: 10px;
}


.headl{
  color: white;
  text-align: center;
  padding-top: 20px;
  height: 60px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #CC2431 , #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #CC2431, #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #CC2431, #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #CC2431 , #F6D357, #88B24B, #5687A3, #2a466d, #9F9FA1); /* Standard syntax (must be last) */
  border-radius: 40px;
}

#linkMoodMap{
  float: center;
  border-radius: 10px;
  background: pink;
}

#moodKey{
  width: 97%;
  height: 97%;
}

.logout {
  float: right;
  padding: 15px
}

textarea{
  background-color:#88B24B;
  font-size:15px;
}

select{

  background-color: #88B24B;
}
