<!--
Jan - 31
Feb - 28
Mar - 31
Apr - 30
May - 31
June - 30
July - 31
Aug - 31
Sep - 30
Oct - 31
Nov - 30
Dec - 31
-->

<html>

<head>

</head>

<body>

<h1> Mood Calendar </h1>

<table>
  <tr>
    <td> JANUARY </td>
    {% for day in jan %}
    <td id='jan{{day}}' class = 'january'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> FEBRUARY </td>
    {% for day in feb %}
    <td id='feb{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> MARCH </td>
    {% for day in mar %}
    <td id='mar{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> APRIL </td>
    {% for day in apr %}
    <td id='apr{{day}}'> {{day}}  </td>
    {% endfor %}
  </tr>

  <tr>
    <td> MAY </td>
    {% for day in may %}
    <td id='may{{day}}'> {{day}}  </td>
    {% endfor %}
  </tr>

  <tr>
    <td> JUNE </td>
    {% for day in june %}
    <td id='june{{day}}'> {{day}}  </td>
    {% endfor %}
  </tr>

  <tr>
    <td> JULY </td>
    {% for day in july %}
    <td id='july{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> AUGUST </td>
    {% for day in aug %}
    <td id='aug{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> SEPTEMBER </td>
    {% for day in sep %}
    <td id='sep{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> OCTOBER </td>
    {% for day in oct %}
    <td id='oct{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> NOVEMBER </td>
    {% for day in nov %}
    <td id='nov{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

  <tr>
    <td> DECEMBER </td>
    {% for day in dec %}
    <td id='dec{{day}}'> {{day}} </td>
    {% endfor %}
  </tr>

</table>

<script type="text/javascript" src="/static/script.js"> </script>

</body>

</html>
