<!--
Jan - 31
Feb - 28
Mar - 31
Apr - 30
May - 31
June - 30
July - 31
Aug - 31
Sep - 30
Oct - 31
Nov - 30
Dec - 31
-->

<html>

<head>

</head>

<body>

<h1> Mood Calendar </h1>

<table>
  <tr>
    <td> JANUARY </td>
    {% for day in jan %}
    <td id='Jan{{day}}' class = 'date'>
      <a href="/daily_log?day=Jan{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> FEBRUARY </td>
    {% for day in feb %}
    <td id='Feb{{day}}' class = 'date'>
        <a href="/daily_log?day=February{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> MARCH </td>
    {% for day in mar %}
    <td id='March{{day}}' class = 'date'>
      <a href="/daily_log?day=March{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> APRIL </td>
    {% for day in apr %}
    <td id='apr{{day}}' class = 'date'>
      <a href="/daily_log?day=April{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> MAY </td>
    {% for day in may %}
    <td id='may{{day}}' class = 'date'>
      <a href="/daily_log?day=May{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> JUNE </td>
    {% for day in june %}
    <td id='june{{day}}' class = 'date'>
      <a href="/daily_log?day=June{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> JULY </td>
    {% for day in july %}
    <td id='july{{day}}' class = 'date'>
      <a href="/daily_log?day=July{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> AUGUST </td>
    {% for day in aug %}
    <td id='aug{{day}}' class = 'date'>
      <a href="/daily_log?day=August{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> SEPTEMBER </td>
    {% for day in sep %}
    <td id='sep{{day}}' class = 'date'>
      <a href="/daily_log?day=September{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> OCTOBER </td>
    {% for day in oct %}
    <td id='oct{{day}}' class = 'date'>
    <a href="/daily_log?day=October{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> NOVEMBER </td>
    {% for day in nov %}
    <td id='nov{{day}}' class = 'date'>
      <a href="/daily_log?day=November{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td> DECEMBER </td>
    {% for day in dec %}
    <td id='dec{{day}}' class = 'date'>
      <a href="/daily_log?day=December{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

</table>

<!-- <script type="text/javascript" src="/static/script.js"> </script> -->

</body>

</html>
