<html>

<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class=headl>
      <p style="float: left; font-weight: bold;"> {{user_nickname}} </p>
      <a class="logout" style="font-weight: bold;" href="{{logoutUrl}}">Log Out</a>
      <h1 id="mainTitle"> </h1>
<p style="float: right; font-weight: bold;">{{time}}</p>

<div>
  <br>
<table>
  <tr>
    <td class=center> JANUARY </td>
    {% for day in jan %}
      {% set color = "None" %}
      {% set key = "Jan"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}

      <td id='Jan{{day}}' class='date' style="background-color:{{color}}">
        <a href="/daily_log?day=Jan{{day}}">{{day}}</a>
      </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> FEBRUARY </td>
    {% for day in feb %}
      {% set color = "None" %}
      {% set key = "February"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
    {% endif %}

    <td id='Feb{{day}}' class='date' style="background-color:{{color}}">
        <a href="/daily_log?day=February{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> MARCH </td>
    {% for day in mar %}
      {% set color = "None" %}
      {% set key = "March"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='March{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=March{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> APRIL </td>
    {% for day in apr %}
      {% set color = "None" %}
      {% set key = "April"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='apr{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=April{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> MAY </td>
    {% for day in may %}
      {% set color = "None" %}
      {% set key = "May"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
        {% endif %}
    <td id='may{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=May{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> JUNE </td>
    {% for day in june %}
      {% set color = "None" %}
      {% set key = "June"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='june{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=June{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> JULY </td>
    {% for day in july %}
      {% set color = "None" %}
      {% set key = "July"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='july{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=July{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> AUGUST </td>
    {% for day in aug %}
      {% set color = "None" %}
      {% set key = "August"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
        {% endif %}
    <td id='aug{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=August{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> SEPTEMBER </td>
    {% for day in sep %}
      {% set color = "None" %}
      {% set key = "September"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='sep{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=September{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> OCTOBER </td>
    {% for day in oct %}
      {% set color = "None" %}
      {% set key = "October"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='oct{{day}}' class = 'date' style="background-color:{{color}}">
    <a href="/daily_log?day=October{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> NOVEMBER </td>
    {% for day in nov %}
      {% set color = "None" %}
      {% set key = "November"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
      {% endif %}
    <td id='nov{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=November{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class=center> DECEMBER </td>
    {% for day in dec %}
      {% set color = "None" %}
      {% set key = "December"+day|string %}
      {% if colors[key] is defined %}
        {% set color = colors[key] %}
        {% endif %}
    <td id='dec{{day}}' class = 'date' style="background-color:{{color}}">
      <a href="/daily_log?day=December{{day}}">{{day}}</a>
    </td>
    {% endfor %}
  </tr>
</div>
</table>
<div id="colorKey">
  <img src="/static/colorkey.png" id="moodKey">
</div>
</body>

</html>
