<html id="userPage">
<head>
  <link rel="stylesheet" href="static/style.css">
  <h1 id="title">Today is {{day}} and i'm feeling.... </h1>
</head>

<body>
  <br>
  <br>
  <br>
  <br>

  <form method="post">
    <div>Mood:
      <select name='mood'>
      <option value="happy">Happy</option>
      <option value="sad">Sad</option>
      <option value="angry">Angry</option>
      <option value="tired"> Tired</option>
      <option value="calm">Calm</option>
      <option value="stressed">Stressed</option>
    </select>
  </div> <br>
    <div>Notes: <textarea rows= "5" col = "200" name = "notes"></textarea></div>

    <div>
      <p>Hours of Sleep:
      <select name="sleep">
        <option value="0-4">0-4</option>
        <option value="4-6">4-6</option>
        <option value="6-8">6-8</option>
        <option value="8-10">8-10</option>
        <option value="10+">10+</option>
      </select> </p>
    </div>

    <div>
      <p>Minutes of Physical Activity:
      <select name="activity">
        <option value="0 minutes">0-4</option>
        <option value="1-20 minutes">4-6</option>
        <option value="20-40 minutes">6-8</option>
        <option value="40-60">8-10</option>
        <option value="60+">10+</option>
      </select> </p>
    </div>

    <input type="hidden" name="day" value="{{day}}">
    <a href="/suggestions?day={{day}}">Suggestions for your mood :)))</a>
    <br>
    <br>
    <a href="/view_day?day={{day}}">View your daily notes!</a>
    <br>
    <br>
    <input type="submit">
  </form>

  <!-- <script type="text/javascript" src="/static/script.js"> </script> -->
</body>

</html>
