<html>
<head>
  <link rel="stylesheet" href="style.css">
  <header>A reflection of {{date}} </header>
</head>

<body>

  <ul>
        <li>Day: {{date}}</li>
        <li>Mood: {{mood}}</li>
        <li>Notes: {{notes}} </li>
        <li>Hours Sleep: {{sleep}}</li>
        <li>Minutes Physical Activity: {{activity}}</li>
  </ul>

    </table>

<a href="/">Head back to your mood map!!</a>
</body>

</html>





<!-- <tr>
  % for element in day
  <li>Day</li>
  <li>Mood</li>
  <li>Notes</li>
  <li>Hours of Sleep</li>
  <li>Minutes of Physical Activity</li>
</tr> -->
