<html>
<head>
  <link rel="stylesheet" href="style.css">
  <header>A reflection of {{day.date}} </header>
</head>

<body>

      <div>
        <p> Day: {{day.day}} </p>
      </div>

      <div>
        <p> Mood: {{day.mood}} </p>
      </div>


      <div>
        <p> Notes: {{day.notes}} </p>
      </div>

      <div>
        <p> Sleep: {{day.sleep}} </p>
      </div>

      <div>
        <p> Activity: {{day.activity}} </p>
      </div>

<input type="submit" value="Return to Mood Map!!">

</body>

</html>
