<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <h1 class=viewDayList>A Reflection of {{date}} </h1>
</head>

<body id='daypage'>

  <ul>
        <li>Day: {{date}}</li>
        <br>
        <br>
        <li>Mood: {{mood}}</li>
        <br>
        <br>
        <li>Notes: {{notes}} </li>
        <br>
        <br>
        <li>Hours Sleep: {{sleep}}</li>
        <br>
        <br>
        <li>Minutes Physical Activity: {{activity}}</li>
  </ul>

    </table>

  <a id='suggestionsButton' style="background-color:pink; border-radius: 50px;" href="/suggestions?day={{day}}&mood={{mood}}">Suggestions for your mood :)))</a> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<a id='linkMoodMap' href="/">Head back to your mood map!!</a>
</body>

</html>





<!-- <tr>
  % for element in day
  <li>Day</li>
  <li>Mood</li>
  <li>Notes</li>
  <li>Hours of Sleep</li>
  <li>Minutes of Physical Activity</li>
</tr> -->
